OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=mistralai/mistral-7b-instruct
BACKEND_URL=http://backend:8080  # Para Docker (o http://localhost:8080 para local)

# Variables de Qdrant (descomentar cuando se use)
# QDRANT_URL=http://qdrant:6333     # Para Docker (o http://localhost:6333 para local)
# QDRANT_COLLECTION=appbit