# --- CONFIGURACIÓN DE MYSQL (Base de Datos) ---
# Usadas por Docker 
DB_NAME=app_bit_b_2g_db
DB_USER=root
DB_HOST=localhost
DB_PASSWORD=root
DB_PORT=3307 


# Variables para el Frontend (Vite)
VITE_API_URL=http://localhost:8080/api/